<div>
  <div style="text-align:center;">
    <div>
      <alert [(displayed)]="alertObj.show" [type]="alertObj.type" [closeButton]="true">
        {{ alertObj.msg }}
      </alert>
    </div>
    <div>
      <todo-form (alertTrigger)="onAlertTrigger($event)"></todo-form>
    </div>
    <div>
      <div>
        <h3>{{year}} / {{month}}</h3>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="moveToPrevMonth(getCurrentDate())">
            <i class="fa fa-chevron-left"></i> 이전달
        </button>
        <button type="button" class="btn btn-primary" (click)="moveToNextMonth(getCurrentDate())">
          다음달 <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div>
    <my-month-box [monthArr]="monthArr" ></my-month-box>
  </div>
</div>
